
/* button {
    height: auto;
    width: auto;
    border-radius: 5px;
    font-size: 1.2em;
} */
/* .instructions {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} */
/* 100ps change down to 75px */
.flip3D { 
   width: 85px;
   height: 85px;
   margin-right: auto;
   margin-left: auto;
}
/* 100px change down to 75px */
.flip3D > .front {
   position: absolute;
   -webkit-transform: perspective(600px) rotateY(0deg);
           transform: perspective(600px) rotateY(0deg);
   background: #fff000;
   width: 85px;
   height: 85px;
   border-radius: 7px;
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-transition: -webkit-transform .75s linear 0s;
   transition: -webkit-transform .75s linear 0s;
   -o-transition: transform .75s linear 0s;
   transition: transform .75s linear 0s;
   transition: transform .75s linear 0s, -webkit-transform .75s linear 0s;
}
.flip3D > .front {
   text-align: center;
   font-size: 1em;
}
/* 100px change down to 75px */
.flip3D > .back {
   position: absolute;
   -webkit-transform: perspective(600px) rotateY(180deg);
           transform: perspective(600px) rotateY(180deg);
   background: #80BFFF;
   width: 85px;
   height: 85px;
   border-radius: 7px;
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-transition: -webkit-transform .75s linear 0s;
   transition: -webkit-transform .75s linear 0s;
   -o-transition: transform .75s linear 0s;
   transition: transform .75s linear 0s;
   transition: transform .75s linear 0s, -webkit-transform .75s linear 0s;
   text-align: center;
   font-size: 7.5em;
}

#table {
    border: solid 1px #000000;
    margin-left: auto;
    margin-right: auto;
}
/* 125px change size down to 100px */
.size {
   width: 100px;
   height: 100px;
   padding: 0%;
}
.tvert {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.tvert {
  margin: auto;
}
.tvert {
    /* list-style-type: none; */
    text-align: center;
}ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}